.header {
  display: flex;
  justify-content: space-between;
  background: #a770ef; /* fallback for old browsers */

  align-items: center;
  color: white;
  height: 50px;
}
.nav-list {
  display: flex;
  list-style: none;
}
.link {
  padding: 5px;
  text-decoration: none;
  color: white;
}
